<main class="mt-5">
    <section class="container-fluid bg-slider">
        <div class="text-center">
            <h1 class="green">
                How It Works
            </h1>
        </div>
    </section>
    <section class="container-fluid mt-2">
        <div class="row">
            <div class="col-6 textimg">
                <img class="w-100" src="./assets/img/select.png" alt="">
            </div> 
            <div class="col-6 text-center mt-5 p-5 pt-5 textdata">
                <br>
                <h2 class="green h2-size">Select Your Preferences</h2>
                <p class="gray para-size">Answer a few questions about your taste, serving size and delivery preferences to help us personalize your menu, and create your account to get started!</p>
            </div>
        </div>
    </section>
    <section class="container-fluid mt-2">
        <div class="row flex-wrap ">
            <div class="col-6 text-center mt-3 p-4 textdata">
                <br><br>
                <h2 class="green h2-size">Customize Your Order</h2>
                <p class="gray para-size">Pick from a variety of new recipes each week. You can also use our Customize It† tool to upgrade, swap, or double up on your favorite protein.</p>
            </div>
            <div class="col-6 textimg">
                <img class="w-100" src="./assets/img/customize.png" alt="">
            </div>
        </div>
    </section>
    <section class="container-fluid mt-2">
        <div class="row">
            <div class="col-6 textimg">
                <img class="w-100" src="./assets/img/delever.png" alt="">
            </div>
            <div class="col-6 text-center mt-3 p-4 textdata">
                <br><br><br>
                <h2 class="green h2-size">Delivered to Your Doorstep</h2>
                <p class="gray para-size">Receive fresh, pre-portioned ingredients with easy to follow recipe cards right at your door. You can always skip a week or pause your account anytime!p>
            </div>
        </div>
    </section>
    <section class="container-fluid mt-2">
        <div class="row">
            <div  class="col-6 text-center mt-3 p-4 textdata">
                <br><br><br><br>
                <h2  class="green h2-size">Enjoy Your Meals!</h2>
                <p class="gray para-size">It’s home cooking made easy. You’ll always have something new and exciting to cook with Home Chef!</p>
            </div>
            <div class="col-6 textimg">
                <img class="w-100" src="./assets/img/engoy.png" alt="">
            </div>
        </div>
        <br><br>
    </section>
    <section class="container-fluid mt-5">
        <div class="col-6 m-auto text-center">
            <h2 class="green h2-size">Build Your Box</h2>
            <p class="gray para-size">With a different menu each week, there’s always new recipes to discover! Find the cooking experience you desire.
            </p>
        </div>
    </section>
    <section class="container m-auto mt-5 gray">
        <div class="row justify-content-around flex-wrap">
            <div class="col-lg-5 col-md-10 card-mail mb-4 pb-3">
                <img class="w-100" src="./assets/img/card.png" alt="">
                <h3 class="p-2">Meal Kits</h3>
                <p class="p-2">Easy recipes with pre-portioned ingredients ready in about 30 minutes.</p>
                <a href="" class="text-decoration-none green p-2">Order Meal Kits  <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-5 card-mail mb-4 pb-3">
                <img class="w-100" src="./assets/img/card2.png" alt="">
                <h3 class="p-2">15 Minute Meal Kits</h3>
                <p class="p-2">Built for speed! Prepped, pre-portioned ingredients that cook in 15 minutes.</p>
                <a href="" class="text-decoration-none green p-2">Order 15 Minute Meal Kits <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-5 card-mail mb-4 pb-3">
                <img class="w-100" src="./assets/img/card3.png" alt="">
                <h3 class="p-2">Oven-Ready</h3>
                <p class="p-2">Pre-portioned, fresh ingredients arrive with an oven-safe tin. No prep, no mess!</p>
                <a href="" class="text-decoration-none green p-2">Order Oven-Ready <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-5 card-mail mb-4 pb-3">
                <img class="w-100" src="./assets/img/card4.png" alt="">
                <h3 class="p-2">Grill-Ready</h3>
                <p class="p-2">Assemble the ingredients in a grill-safe bag and throw it on the grill for a quick, flavorful meal.</p>
                <a href="" class="text-decoration-none green p-2">Order Grill-Ready <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-5 card-mail mb-4 pb-3">
                <img class="w-100" src="./assets/img/card5.png" alt="">
                <h3 class="p-2">Culinary Collection</h3>
                <p class="p-2">Special occasion or on a whim, up the ante with this selection of premium meals!</p>
                <a href="" class="text-decoration-none green p-2">Order Culinary Collection  <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-5 card-mail mb-3 pb-3">
                <img class="w-100" src="./assets/img/card6.png" alt="">
                <h3 class="p-2">Fast & Fresh</h3>
                <p class="p-2">Pop 'em in the oven OR heat 'em in the microwave for quick deliciousness.</p>
                <a href="" class="text-decoration-none green p-2">Order Fast & Fresh <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <h2 class="h1 green text-center mb-5 h2-size">At Your Door or In Your Store</h2>
            <div class="row justify-content-around">
                <div class="col-5 text-center last-div">
                    <img class="w-100" src="./assets/img/card7.png" alt="">
                    <h2 class="green">Order Online</h2>
                    <p>We make it easy – pick delivery dates or skip weeks to work with your schedule.</p>
                    <button routerLink="/recipselect" class="bt">Pick Your Meals</button>
                </div>
                <div class="col-5 text-center last-div">
                    <img class="w-100" src="./assets/img/card8.png" alt="">
                    <h2 class="green">Buy In Store</h2>
                    <p>We’re part of the Kroger Family! Find out where you can find Home Chef products at a store near you.</p>
                    <button routerLink="/menu" class="bt">Find a store</button>
                </div>
            </div>
        </div>
    </section>
</main>
