<main class="mt-5">
  <div class="displayTable container " >
    <div class="displayTableCell  m-auto ">
      <div class="authBlock">
        <h1 class="forget-Title pt-4">Reset Password</h1>
        <form [formGroup]="regestrationForgetForm" >
          <div class="formGroup">
            <label class="fw-bold">Please enter your email address to request a password reset.</label>
            <input 
            type="email" 
            class="formControl" 
            placeholder="Email Address..." 
            #passwordResetEmail required
            [class.is-invalid]="emailFeld?.invalid &&emailFeld?.touched"
            formControlName="email" 
            >
            <div class="text-erorr-contan">
              <small class="text-danger text-erorr" *ngIf="emailFeld?.invalid &&emailFeld?.touched">This Field is Required*</small>
              <small 
              class="text-danger text-erorr" 
              *ngIf="emailFeld?.errors?.['email']">
              you email must be like exsample name@gmail.come
              </small>
            </div>
          </div>
          <!-- Calling ForgotPassword from AuthService Api -->
          <div class="formGroup"novalidate>
            <input type="submit" class="btn btngreen" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value);display()"
            [disabled]="regestrationForgetForm.invalid" [class.btn-danger]="regestrationForgetForm.invalid">
          </div>
          <div #check class="form-group chek">
            <p  style="color: rgba(196, 20, 20, 0.87);" class="check-bt p-2 mt-0 mb-0">Check Your Email inbox</p>
          </div>
          <div class="form-group back-div">
            <a routerLink="/auth-account" class="back p-2">Log In</a>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</main>
