main{
    width: 100%;
    padding-top: 30px;
    background: url(/assets/img/men1.jpg) no-repeat center/cover;
    height: 120vh;
    /* background-color: #454851cc; */
}

.formGroup .formControl{
    width: 70%;
	padding:15px 20px;
	border-radius:25px;
	background: #fff;
	border: 1px solid #0086008a;
}
.forget-Title{
    color: #008600;
    font-weight: bold;
    text-align: center;
    
}

.back-div .back{
    width: 100%;
    display: inline-block;
    font-weight: bold;
    color: gray;
    text-decoration: none;
}
.back-div .back:hover{
    color: brown;
}
form{
    text-align: center;
}

.formGroup .btngreen{
    background: #008600;
    color: #fff;
    width: 35%;
    border:none;
	padding:8px;
	border-radius:25px;
	border: 1px solid #0086008a;
    margin-top: 15px;
}

.displayTable{
    background-color: white;
    color: #454851;
    width: 50%;
    margin-top: 40px;
    border-radius: 3px;
    /* padding: 25px 25px 1px 25px; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.forget-Title{
    color: #008600;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.chek{
    padding-top: 10px;
    display: none;
    
}
.check-bt{
    text-decoration: none;
    color: #454851;
}